
body{
	background-color:aqua;
}

.heading{
  display: flex;
	justify-content: center;
	margin-top: 70px;
}

.container{
	display: grid;
	justify-content: center;	
	margin : 20px;
	padding:20px;
	margin-top: 50px;
}

.calculator{
  display :grid;
  grid-template-columns: repeat(4,minmax(80px,1fr));
  grid-template-rows: repeat(5,minmax(60px, 1fr));
  gap:5px;
  background-color: oldlace;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
	max-width: 380px;
  
}

input {
	font-size: 30px;
}

.operator{
	background-color: coral;
}

.equal{
	background-color: black;
	color: coral;
}

.key{
	border-radius:1rem;
}

#screen{
  grid-column: span 3;
	border-radius:1rem;
	font-size:38px;
	text-align: right;
	
}
